<div *ngIf="this.mock != undefined" fxLayout="row wrap">
  <!-- column -->
  <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <mat-card-content>
        <!-- Row -->
        <div class="d-flex no-block">
          <!-- column -->
          <div class="m-r-10 no-shrink">
            <button mat-fab mat-card-icon class="shadow-none bg-inverse bg-success">
              <mat-icon>work</mat-icon>
            </button>
          </div>
          <!-- column -->
          <div>
            <h3 class="m-0">{{ this.mock.workedDayInYear }}</h3>
            <h6 class="text-muted m-0">Worked Days</h6>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- column -->
  <!-- column -->
  <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <mat-card-content>
        <!-- Row -->
        <div class="d-flex no-block">
          <!-- column -->
          <div class="m-r-10 no-shrink">
            <button mat-fab color="warn" mat-card-icon class="shadow-none bg-warning">
              <mat-icon>tag_faces</mat-icon>
            </button>
          </div>
          <!-- column -->
          <div>
            <h3 class="m-0">{{ this.mock.freeDays }}</h3>
            <h6 class="text-muted m-0">Free days</h6>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- column -->
  <!-- column -->
  <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <mat-card-content>
        <!-- Row -->
        <div class="d-flex no-block">
          <!-- column -->
          <div class="m-r-10 no-shrink">
            <button mat-fab color="accent" mat-card-icon class="shadow-none">
              <mat-icon>wb_sunny</mat-icon>
            </button>
          </div>
          <!-- column -->
          <div>
            <h3 class="m-0">{{ this.mock.daysOfLeaveToUse }}</h3>
            <h6 class="text-muted m-0">Days of leave to use</h6>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- column -->
  <!-- column -->
  <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <mat-card-content>
        <!-- Row -->
        <div class="d-flex no-block">
          <!-- column -->
          <div class="m-r-10 no-shrink">
            <button mat-fab color="warn" mat-card-icon class="shadow-none bg-danger">
              <mat-icon>attach_money</mat-icon>
            </button>
          </div>
          <!-- column -->
          <div>
            <h3 class="m-0">{{ this.mock.actual_payment }}</h3>
            <h6 class="text-muted m-0">Actual salary rate</h6>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- column -->
</div>
